* {
    font-family: 'Century Gothic', sans-serif;
    margin: 1px;
    padding: 1px;
}
body {
    font-family: 'Century Gothic', sans-serif;
    color: white;
    text-align: center;
    background: #1D1E22;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

.calculator {
    border: 1px solid #ccc;
    padding: 10px;
}

.screen {
    background: #fff;
    display: grid;
    grid-column: span 3;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    width: 236px;
    height: 25px;
    padding: 10px;
    margin: 10px 5px;
}

.screen::after {
    content: '';
    display: table;
    clear: both;
}

.buttons {
    display: flex;
    gap: 5px;
}

.numbers {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 60px);
}

.operators {
    gap: 1px;
    grid-template-columns: repeat(1, 60px);
    width: 25%;
    padding: 16px 10px 10px;
    background: rgba(0, 0, 0, 0.1);
    min-height: 260px;
    display: flex;
    flex-direction: column;
}

.numbers button {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.operators button {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 45px;
}

.numbers button {
    width: 100%; /* Make the button take up the full width of its container */
    height: 60px; /* Adjust the button height */
    font-size: 16px; /* Adjust the font size if needed */
}

/* Buttons */
.buttons button {
    float: right;
    border: none;
    background: transparent;
    color: #fff;
    padding: 15px 10px;
    outline: none;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    cursor: pointer;
}

.buttons button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.buttons button:active,
.buttons button.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
}

.buttons::after {
    content: '';
    display: table;
    clear: both;
}

.operators button[data-val="x"] {
    font-size: 13px;
}

.operators button[data-val="-"] {
    font-size: 18px;
}

.operators button[data-val="="] {
    font-size: 16px;
}
